.Rproj.user
.Rhistory
.RData
.Ruserdata
pedidos/005/edif_pluscode_enlace.rds
insumos/00_viviendas/20230316
insumos/00_viviendas/20230316/Base Precensal160323.txt_20230316_090503_0.csv
insumos/00_viviendas/20230316/baseprecensal.rds
insumos/00_viviendas/20230316/marco_viv_ocu_nap.rds
insumos/00_viviendas/enighur/Base_muestral___20250623_095031.csv
insumos/00_viviendas/enighur/Base_muestral___20250724_140509.csv
pedidos/005/edif_pluscode_enlace.rds
pedidos/020/GPKG/001/enighur_j2.gpkg